/* Common */
a, .link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Header */
.content-header {
    padding: 1rem 0;
    background-color: #EFEFEF;
    border-bottom: 1px solid #333;
}
/* Branding */
#block-guidepost-admin-branding .site-info {
    float: left;
    padding-left: 0.5rem;
}
#block-guidepost-admin-branding a.site-logo img {
    max-width: 70px;
    float: left;
}
#block-guidepost-admin-branding .site-name a{
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.75em;
    color: #333;
    vertical-align: bottom;
}
#block-guidepost-admin-branding .site-slogan {
    font-style: italic;
    color: #666;
}

/* Tabs */
.tabs a {
    text-decoration: none;
}
.is-horizontal ul.tabs li,
.is-horizontal .tabs.primary .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab:first-child,
.is-horizontal .tabs.primary .tabs__tab:last-child {
    border-radius: 0;
    border-bottom: none;
}
.is-horizontal .tabs__tab {
    background-color: #EFEFEF;
}

/* Entity Forms */
.entity-meta {
    border-radius: 0;
    margin: 0.5rem 0;
}
.button {
    border-radius: 3px;
}
.seven-details .seven-details__summary {
    color: #333;
}
.entity-meta .seven-details[open] {
    background-color: #EFEFEF;
}

/* Common Forms */
form.user-login-form input {
    font-size: larger;
}
form.user-login-form input.form-text {
    min-width: 60%;
}
form.user-login-form input.form-submit,
form.user-pass input.form-submit {
    background: #333;
    color: #FFF;
    border-color: #000;
    padding: .5rem 1rem;
}

/* Full view mode */
.node--view-mode-full .field--type-entity-reference-revisions .field__items > .field__item{
    padding: 1rem;
    margin: 1rem 0;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}
.node--view-mode-full .field--type-entity-reference-revisions .field__items .field__item audio,
.node--view-mode-full .field--type-entity-reference-revisions .field__items .field__item img {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(51,51,51,0.20);
    -moz-box-shadow: 4px 4px 5px 0px rgba(51,51,51,0.20);
    box-shadow: 4px 4px 5px 0px rgba(51,51,51,0.20);
    margin: 1rem 0;
}
.node.node--view-mode-full .field--label-above .field__label:first-child {
    border-bottom: 1px solid #333;
    margin: 1rem 0 0.5rem;
}
.node.node--view-mode-full .field--label-inline .field__label:first-child {
    border-bottom: none;
    margin: 0;
}
.node.node--view-mode-full .field--label-above .field__items,
.node.node--view-mode-full .field--label-above .field__item{
    padding-left: 0.5rem;
}
.node.node--view-mode-full .field--label-inline .field__items{
    padding: 0;
}

/* Admin Views */
.button--primary {
    font-size: larger !important;
}
.system-modules tr.even, .system-modules tr.odd, .locale-translation-status-form tr.even, .locale-translation-status-form tr.odd{
    background: #EFEFEF;
}
.button--primary.form-submit {
    border-color: #69c15e;
    background-color: #27b515;
    background-image: -webkit-linear-gradient(top, #55c946, #27b515);
    background-image: linear-gradient(to bottom, #55c946, #27b515);
}
form.node-confirm-form .button--primary.form-submit,
form.entity-delete-multiple-confirm-form .button--primary.form-submit{
    border-color: #d13827;
    background-color: #ed402d;
    background-image: -webkit-linear-gradient(top, #ed402d, #d13827);
    background-image: linear-gradient(to bottom, #ed402d, #d13827);
}

/* Tables */
table thead th, table th.field-label {
    background-color: #EFEFEF;
}

/* Blocks */
#block-userlogin {
    border: 1px solid #CCCCCC;
    padding: 1rem;
    margin: 1rem 0;
}

